*,
html {
    margin: 0;
    padding: 0;
}

.container-navbar {
    background-color:plum;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    height: 17px;
    line-height: 17px;
    color: white;
    font-family: 'Times New Roman', serif;
    font-weight: 1000;
    font-size: 20px;
} 

.li-navbar:hover {
    background-color: #F5E9CF;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: #000;
    text-decoration: none;
}

.container-content{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: lightgrey;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    width: 720px;
    height: 480px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow:  5px 5px 15px 5px #000000;
}

.img-content {
    width: 60%;
    height: 60%;
    border-radius: 30px;
}

.container-footer {
    height: 10vh;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 30px;
    color: #000000;
} 